.footer {
  height: 35rem;
  background-color: $color-gray-light;
  position: relative;
  padding-top: 5rem;
}

.blue-pink-logo {
  position: absolute;
  bottom: 0rem;
  left: 9rem;

  @media only screen and (min-width: 700px) {
    left: 28rem;
  }

  @media only screen and (min-width: 700px) {
    left: 53rem;
  }
}

.bottomnav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-gray-dark;
  position: absolute;
  bottom: 0;
  width: 100%;
}
