.nav-item {
  margin: 1rem;
  font-size: 1.8rem;
}

.white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.close-button {
  text-align: right;
  padding: 0 1rem 0 0;
}

.dropdown-content {
  position: absolute;
  top: -2rem;
  left: -1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $color-gray-light;
  color: white;
  border-radius: 0 1rem 1rem 0;
  font-size: 2.2rem;
  padding: 1rem;
}
.dropdown-item {
  padding: 0.5rem;
}
.header {
  position: relative;
  height: 7rem;
}

.pink-logo {
  position: absolute;
  right: 0;
  top: 0;
}

.dropdown-off {
  display: none;
}

.topnav {
  display: none;

  @media only screen and (min-width: 600px) {
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    width: 50%;
    display: flex;
    flex-direction: row;

    text-decoration: none;

    color: $color-white;
  }
}
