.nav-item {
  margin: 1rem;
  font-size: 1.8rem;
}

.white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.home-white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  width: 5rem;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.close-button {
  text-align: right;
  padding: 0 1rem 0 0;
}

.dropdown-content {
  position: absolute;
  top: -2rem;
  left: -1rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: $color-gray-light;
  color: white;
  border-radius: 0 1rem 1rem 0;
  font-size: 2.2rem;
  padding: 1rem;
}
.dropdown-item {
  padding: 0.5rem;
}
.header {
  position: relative;
  height: 7rem;
}

.pink-logo {
  position: absolute;
  right: 0;
  top: 0;
}

.white-logo {
  position: absolute;
  right: -5rem;
  top: -5rem;
  width: 19rem;
}

.dropdown-off {
  display: none;
}

.topnav {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  width: 50%;
  display: flex;
  flex-direction: row;

  text-decoration: none;

  color: $color-white;
}

/*             */

.home-nav-item {
  margin: 1rem;
  font-size: 1.8rem;
}
.home-nav-item:hover {
  color: $color-primary;
}

.nav-item:hover {
  color: $color-primary;
}

.home-white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  width: 5rem;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.home-close-button {
  text-align: right;
  padding: 0 1rem 0 0;
}

.home-dropdown-content {
  position: absolute;
  top: -2rem;
  left: -1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $color-gray-light;
  color: white;
  border-radius: 0 1rem 1rem 0;
  font-size: 2.2rem;
  padding: 1rem;
  z-index: 3;
}
.home-dropdown-item {
  padding: 0.5rem;
}
.home-header {
  position: relative;
  height: 7rem;
}

.pink-logo {
  position: absolute;
  right: 0;
  top: 0;
}

.white-logo {
  position: absolute;
  right: -5rem;
  top: -5rem;
  width: 19rem;
}

.home-dropdown-off {
  display: none;
}

.home-topnav {
  display: none;

  padding: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  width: 50%;
  display: flex;
  flex-direction: row;

  text-decoration: none;
  position: absolute;
  top: 0;
  left: 1rem;
  color: $color-white;
}
