.nav-item {
  margin: 1rem;
  font-size: 1.8rem;
}

.white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  @media only screen and (min-width: 600px) {
    display: none;
    
  }
}

.home-white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  width: 5rem;
  
  
  @media only screen and (min-width: 600px) {
    display: none;
    
    
  }
}
.dropdown-content{
  margin: 1em;
  width: 40px;
  
}
.a {
  display: visible;
}
.b {
  display: none;
  overflow: hidden;
}

.dropdown-content:after, 
.dropdown-content:before, 
.dropdown-content div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
.dropdown-content:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.dropdown-content:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.dropdown-content:hover div {
  transform: scale(0);
}
.dropdown-content a {
  // background-color: red;
  display: flex;
  flex-direction: column;
}

// .close-button {
//   text-align: right;
//   padding: 0 1rem 0 0;
//   position: relative;
//   display: inline-block;
// }

.dropdown-content {
  // position: absolute;
  // top: -3rem;
  // left: -1rem;
  // margin: 3rem;
  // display: flex;
  // flex-direction: column;
  // background-color: $color-gray-light;
  // color: white;
  // border-radius: 0 1rem 1rem 0;
  // font-size: 2.2rem;
  // padding: 1rem;
  
}

.dropdown-item {
  //padding: 0.5rem;
  
}

.header {
  position: relative;
  height: 7rem;
}

.pink-logo {
  position: absolute;
  right: 0;
  top: 0;
}

.white-logo {
  position: absolute;
  right: -5rem;
  top: -5rem;
  width: 19rem;
}

.dropdown-off {
  display: none;
}

.topnav {
  display: none;

  @media only screen and (min-width: 600px) {
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    width: 50%;
    display: flex;
    flex-direction: row;

    text-decoration: none;

    color: $color-white;
  }
}

