a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  color: $color-white;
  text-decoration: none;
}

.h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3rem;
}

.p {
  font-size: 1.8rem;
  text-align: center;
}

label {
  font-size: 1.4rem;
}

.form-text {
  margin: 8rem auto 2rem auto;
  padding: 0 1rem;
}

.footer-text {
  padding: 1rem;
  max-width: 30rem;
  margin: 0 auto;
}

.story-text {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

.hero-p {
  display: none;
  @media only screen and (min-width: 730px) {
    display: block;
    font-size: 2.2rem;
  }
}
