.hero-container {
  position: relative;
  width: 100vw;

  text-align: center;
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.hero-image-container {
  z-index: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.navbarcontainer {
  position: absolute;
  z-index: 1;
}
.hero-image {
  width: 100%;
}

.list-of-stories {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-container {
  width: 100%;
}

.story-title {
  max-width: 40rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.2rem;
  color: $color-white;

  text-align: center;
}


.hero-title {
  font-family: Montserrat;

  font-size: 2.2rem;
  line-height: 2.7rem;
  text-align: center;

  @media only screen and (min-width: 730px) {
    font-size: 5.2rem;
    margin-bottom: 5rem;
  }
}

.hero-text {
  position: absolute;
  z-index: 1;
  height: 2.2rem;
  width: 25rem;
  margin: 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 2rem;
  border-radius: 1rem;

  @media only screen and (min-width: 730px) {
    background: none;
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
    height: 16rem;
    padding: 2rem;
  }

  @media only screen and (min-width: 850px) {
    background: none;

    background: rgba(0, 0, 0, 0.5);
    height: 20rem;
    padding: 2rem;
  }

  @media only screen and (min-width: 950px) {
    background: none;

    background: rgba(0, 0, 0, 0.5);

    padding: 2rem;
  }

  @media only screen and (min-width: 1050px) {
    background: none;

    background: rgba(0, 0, 0, 0.5);

    padding: 2rem;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #c96567;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


