.story-card {
  margin: 4rem auto;
  line-height: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-image {
  margin-top: 2rem;
}

.story-text {
  margin: 5rem auto;
  padding: 0 2rem;
  text-align: left;
  max-width: 100rem;
}

.story-title {
  max-width: 35rem;
  font-size: 1.4rem;
  text-align: center;
}

.stories-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media only screen and (min-width: 700px) {
    max-width: 100rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.list-of-stories-home {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
