.thankyou-wrapper {
  background-color: $color-primary;
  height: 100%;
}

.thankyou-text-container {
  margin: 15rem auto;
  max-width: 40rem;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
