.submit-button {
  width: 16rem;
  height: 3.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4rem;
  text-align: center;
  background-color: #c96567;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: none; }

.home-submit-button {
  display: none; }
  @media only screen and (min-width: 730px) {
    .home-submit-button {
      top: 50%;
      right: 5rem;
      display: block;
      width: 16rem;
      height: 3.5rem;
      color: #fff;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 4rem;
      text-align: center;
      background-color: #c96567;
      border-radius: 1rem;
      margin-left: auto;
      margin-right: auto;
      border: none;
      position: absolute;
      right: 10%;
      z-index: 5; } }

.carousel-container {
  margin-top: 5rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto; }

.car-card-container {
  text-align: center;
  margin: 0 auto;
  position: relative; }

.carousel-image {
  width: 40rem; }

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.slick-slider {
  max-width: 100vw; }

.car-headline {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3.6rem; }

.carousel-button {
  width: 13rem;
  height: 3.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 4rem;
  text-align: center;
  background-color: #c96567;
  border-radius: 1rem;
  bottom: 6rem;
  margin-left: 3rem;
  border: none;
  position: absolute; }

.carousel-button-first {
  width: 13rem;
  height: 3.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 4rem;
  text-align: center;
  background-color: #c96567;
  border-radius: 1rem;
  bottom: 4rem;
  left: 3rem;
  border: none;
  position: absolute; }

.footer {
  height: 35rem;
  background-color: #97aabd;
  position: relative;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.blue-pink-logo {
  position: relative;
  text-align: center; }

.bottomnav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314455;
  position: absolute;
  bottom: 0;
  width: 100%; }

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }

.form-field {
  margin: 2rem;
  border-radius: 1rem;
  width: 20rem;
  height: 3rem; }

.form-container {
  padding: 0; }

.story-form-field {
  height: 50rem;
  width: 30rem;
  margin: 2rem;
  border-radius: 1rem; }
  @media only screen and (min-width: 700px) {
    .story-form-field {
      width: 50rem; } }
  @media only screen and (min-width: 1000px) {
    .story-form-field {
      width: 80rem; } }

.nav-item {
  margin: 1rem;
  font-size: 1.8rem; }

.white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block; }
  @media only screen and (min-width: 600px) {
    .white-hamburger {
      display: none; } }

.home-white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  width: 5rem; }
  @media only screen and (min-width: 600px) {
    .home-white-hamburger {
      display: none; } }

.close-button {
  text-align: right;
  padding: 0 1rem 0 0; }

.dropdown-content {
  position: absolute;
  top: -2rem;
  left: -1rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #97aabd;
  color: white;
  border-radius: 0 1rem 1rem 0;
  font-size: 2.2rem;
  padding: 1rem; }

.dropdown-item {
  padding: 0.5rem; }

.header {
  position: relative;
  height: 7rem; }

.pink-logo {
  position: absolute;
  right: 0;
  top: 0; }

.white-logo {
  position: absolute;
  right: -5rem;
  top: -5rem;
  width: 19rem; }

.dropdown-off {
  display: none; }

.topnav {
  display: none; }
  @media only screen and (min-width: 600px) {
    .topnav {
      padding: 2rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      width: 50%;
      display: flex;
      flex-direction: row;
      text-decoration: none;
      color: #fff; } }

/*             */
.home-nav-item {
  margin: 1rem;
  font-size: 1.8rem; }

.home-white-hamburger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: block;
  width: 5rem; }
  @media only screen and (min-width: 600px) {
    .home-white-hamburger {
      display: none; } }

.home-close-button {
  text-align: right;
  padding: 0 1rem 0 0; }

.home-dropdown-content {
  position: absolute;
  top: -2rem;
  left: -1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #97aabd;
  color: white;
  border-radius: 0 1rem 1rem 0;
  font-size: 2.2rem;
  padding: 1rem;
  z-index: 3; }

.home-dropdown-item {
  padding: 0.5rem; }

.home-header {
  position: relative;
  height: 7rem; }

.pink-logo {
  position: absolute;
  right: 0;
  top: 0; }

.white-logo {
  position: absolute;
  right: -5rem;
  top: -5rem;
  width: 19rem; }

.home-dropdown-off {
  display: none; }

.home-topnav {
  display: none; }
  @media only screen and (min-width: 600px) {
    .home-topnav {
      padding: 2rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      width: 50%;
      display: flex;
      flex-direction: row;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 1rem;
      color: #fff; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%; }

body {
  box-sizing: border-box;
  background-color: #314455;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative; }

.App {
  height: 100vh;
  width: 100%; }

html,
body {
  overflow-x: hidden; }

body {
  position: relative; }

a:link {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  color: #fff;
  text-decoration: none; }

.h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3rem; }

.p {
  font-size: 1.8rem;
  text-align: center; }

label {
  font-size: 1.4rem; }

.form-text {
  margin: 8rem auto 2rem auto;
  padding: 0 1rem; }

.footer-text {
  padding: 1rem;
  max-width: 30rem;
  margin: 0 auto; }

.home-footer-text {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 2.6rem; }

.story-text {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem; }

.hero-p {
  display: none; }
  @media only screen and (min-width: 730px) {
    .hero-p {
      display: block;
      font-size: 2.2rem; } }

.hero-container {
  position: relative;
  width: 100vw;
  text-align: center;
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column; }

.hero-image-container {
  z-index: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%; }

.navbarcontainer {
  position: absolute;
  z-index: 1; }

.hero-image {
  width: 100%; }

.list-of-stories {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.home-container {
  width: 100%; }

.story-title {
  max-width: 40rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.2rem;
  color: #fff;
  text-align: center; }


.hero-title {
  font-family: Montserrat;
  font-size: 2.2rem;
  line-height: 2.7rem;
  text-align: center; }
  @media only screen and (min-width: 730px) {
    .hero-title {
      font-size: 5.2rem;
      margin-bottom: 5rem; } }

.hero-text {
  position: absolute;
  z-index: 1;
  height: 2.2rem;
  width: 25rem;
  margin: 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: -1rem;
  left: -1rem;
  margin-right: 2rem;
  border-radius: 1rem;
  height: 5rem;
  width: 100%; }
  @media only screen and (min-width: 730px) {
    .hero-text {
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      height: 16rem;
      padding: 2rem; } }
  @media only screen and (min-width: 850px) {
    .hero-text {
      background: none;
      background: rgba(0, 0, 0, 0.5);
      height: 20rem;
      padding: 2rem; } }
  @media only screen and (min-width: 950px) {
    .hero-text {
      background: none;
      background: rgba(0, 0, 0, 0.5);
      padding: 2rem; } }
  @media only screen and (min-width: 1050px) {
    .hero-text {
      background: none;
      background: rgba(0, 0, 0, 0.5);
      padding: 2rem; } }

<<<<<<< HEAD
.main {
  margin-top: -20rem;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 500px) {
    .main {
      margin-top: -15rem;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 595px) {
    .main {
      margin-top: -10rem;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 670px) {
    .main {
      margin-top: -3rem;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 800px) {
    .main {
      margin-top: 30%;
      margin-left: auto;
      margin-right: auto; } }

||||||| merged common ancestors
=======
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #c96567;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }


>>>>>>> 39820be441102a1b9f51b0117bcf8f7e56e1a939
.story-card {
  margin: 4rem auto;
  line-height: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.story-image {
  margin-top: 2rem;
  width: 35rem;
  box-shadow: 10px 5px 5px #202020; }

.story-text {
  margin: 5rem auto;
  padding: 0 2rem;
  text-align: left;
  max-width: 100rem; }

.stories-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  @media only screen and (min-width: 700px) {
    .stories-display {
      max-width: 100rem;
      flex-direction: row;
      flex-wrap: wrap; } }

.list-of-stories-home {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  position: relative; }

.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.thankyou-wrapper {
  background-color: #c96567;
  height: 100%; }

.thankyou-text-container {
  margin: 15rem auto;
  max-width: 40rem;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
