.submit-button {
  width: 16rem;
  height: 3.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4rem;
  text-align: center;
  background-color: #c96567;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto; }

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-field {
  margin: 2rem;
  border-radius: 1rem;
  width: 20rem;
  height: 3rem; }

.topnav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 3.6rem;
  color: #fff; }

.nav-item {
  margin: 1rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  color: #fff;
  text-decoration: none; }
