@import './abstracts/mixins.scss';
@import './abstracts/variables.scss';

@import './components/button.scss';
@import './components/carousel.scss';
@import './components/footer.scss';
@import './components/form.scss';
@import './components/navbar.scss';

@import './base/base.scss';
@import './base/typography.scss';

@import './pages/home.scss';
@import './pages/story.scss';
@import './pages/thankyou.scss';


